<div class="panel panel-default">
    <div class="panel-heading text-center"><b>Etap 2 - Łączenie Gorących Miejsc i znalezienie najlepszych Ciagów
        Diagonalnych</b>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="well" ng-show="stepData.currentStep > 0">
                    <div ng-show="stepData.currentStep === 1">
                        <p><b>Krok 1: {{::stepData.stepByStepConfig[1].description}}</b></p>

                        <p>W tym kroku utworzone zostały ciągi diagonalne dla każdej z sekwencji, któa została przekazana do tego etapu.
                            Tworzenie ciągów diagonalnych polega na łączeniu blisko położonych gorących miejsc (które w tym przypadku otrzymano z poprzedniego etapu).
                            O tym jak daleko od siebie mogą leżeć gorące miejsca decyduje jeden z parametrów ustalonych na etapie konfiguracji.
                        </p>
                        <p>
                            Lista ciągów diagonalnych została zaprezentowana na stronie w formie tabeli. Po najechaniu na dany ciąg, zostanie on podświetlony w obu sekwencjach.
                        </p>
                        <p>
                            Oprócz samej listy ciągów, zamieszczona zostałą także pomocnicza macierz, która pozwala przedstawić te ciągi w sposób graficzny.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 2">
                        <p><b>Krok 2: {{::stepData.stepByStepConfig[2].description}}</b></p>

                        <p>
                            W tym kroku przedstawione wcześniej ciagi diagonalne zostały ocenione, zgodnie ze zdefiniowaną na etapie konfiguracji, macierzą substytucji.
                            Ocena polega na przeiterowaniu po kolejnych symbolach obu ciągów, porównania symboli i dodania odpowiedniej wartości, wynikającej z macierzy, do całkowitej oceny.
                        </p>
                        <p>
                            Oceny zostały wyświetlone w tej samej tabeli, co ciągi diagonalne.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 3">
                        <p><b>Krok 3: {{::stepData.stepByStepConfig[3].description}}</b></p>

                        <p>W tym kroku wybrane zostało 10 najlepszych ciągów, wybranych na podstawie wyliczonych w poprzednim kroku ocen.
                            Dla każdej sekwencji, lista ciągów została ograniczona jedynie do tych 10 najlepszych.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 4">
                        <p><b>Krok 4: {{::stepData.stepByStepConfig[4].description}}</b></p>

                        <p>W tym kroku wybierana jest połowa sekwencji, które zostaną przetworzone na kolejnym etapie.
                            Polega to na wybraniu najlepszego ciągu dla każdej sekwencji i wyborze tych sekwencji,
                            dla których te wybrane wartości są największe, w porównaniu do innych sekwencji.
                        </p>
                        <p>
                            Celem tego jest redukcja liczby sekwencji koniecznych do przetworzenia na kolejnych etapach.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div fasta-selected-sequences best-sequences="stepData.bestSequences"></div>

        <div ng-show="stepData.currentDiagonals">
            <div fasta-sequences-tabs sequences="::stepData.baseSequences" change-sequence="changeSequence(index)"></div>

            <div>
                <div class="page-header">
                    <h4>Lista<span ng-if="stepData.foundBestStep"> 10 najlepszych</span> znalezionych ciągów
                        diagonalnych:
                        <small>(Kliknij na ciąg, aby go podświetlić w tabeli. Najedź, aby podświetlić w obu
                            sekwencjach)
                        </small>
                    </h4>
                </div>

                <h4 class="text-center overflow-auto"><b>Sekwencja Szukana: </b><span
                        id="querySequence-p"> {{::stepData.querySequence}} </span></h4>
                <h4 class="text-center overflow-auto"><b>Aktualna Sekwencja </b>
                    <span ng-bind=stepData.currentBaseSequence id="baseSequence-p"></span>
                </h4>


                <table class="table table-hover table-bordered fasta-list-table">
                    <thead>
                    <tr class="success">
                        <th>#</th>
                        <th>Przedział w aktualnej sekwencji</th>
                        <th>Fragment aktualnej sekwencji</th>
                        <th>Przedział w szukanej sekwencji</th>
                        <th>Fragment szukanej sekwencji</th>
                        <th>Ocena ciągu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="diagonal in stepData.currentDiagonals[stepData.currentBaseSequence]" fasta-highlight
                        highlight-paragraphs-list="::[{paragraphId: 'baseSequence-p', content: stepData.currentBaseSequence,
                            startIndex: diagonal.startPoint[0], length: (diagonal.endPoint[0] - diagonal.startPoint[0]) + 1},
                            {paragraphId: 'querySequence-p', content: stepData.querySequence, startIndex: diagonal.startPoint[1], length: (diagonal.endPoint[1] - diagonal.startPoint[1]) + 1}]"
                        ng-click="highlightOnDiagonalsTable(diagonal)"
                        ng-class="{'info' : (stepData.selectedDiagonal == diagonal)}">
                        <td>{{::$index + 1}}</td>
                        <td>[{{::diagonal.startPoint[0]}}, {{::diagonal.endPoint[0]}}]</td>
                        <td>{{::stepData.currentBaseSequence | limitTo : ((diagonal.endPoint[0] - diagonal.startPoint[0]) + 1) :
                            diagonal.startPoint[0]}}</td>
                        <td>[{{::diagonal.startPoint[1]}}, {{::diagonal.endPoint[1]}}]</td>
                        <td>{{::stepData.querySequence | limitTo : ((diagonal.endPoint[1] - diagonal.startPoint[1]) + 1) :
                            diagonal.startPoint[1]}}</td>
                        <td >{{diagonal.score}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="page-header">
                <h4>
                    Tabela ciągów diagonalnych:
                </h4>
            </div>
            <div class="overflow-auto">
                <div fasta-diagonals-table></div>
            </div>
        </div>
    </div>
</div>

<div fasta-navigation-footer previous-url="/first_stage" next-url="/third_stage"
     save-step="saveLastStep(lastStep)" config="::stepData.stepByStepConfig" current-step="stepData.currentStep" next-stage-number="3"></div>
