<div class="panel panel-default">
    <div class="panel-heading">Stage 2</div>
    <table id="scoring-matrix" class="">
        <thead>
        <tr class="success">
            <th> # </th>
            <th ng-repeat="(symbol, values) in stepData.scoreMatrix track by $index">{{symbol}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(symbol, values) in stepData.scoreMatrix track by $index">
            <td ><b> {{symbol}} </b></td>
            <td ng-repeat="(key, scoreValue) in values track by $index" data-container="body">
                <input type="number" class="text-center" disabled ng-model="stepData.scoreMatrix[symbol][key]">
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default" ng-click="score()">Recalculate score</a>
    <div class="panel-body">
        <div class="container-overflow">
            <div fasta-diagonals-table></div>
        </div>
    </div>
</div>

<div fasta-navigation-footer previous-url="#/first_stage" next-url="#/third_stage" last-step="stepData.lastStep"
     save-step="saveLastStep(lastStep)" config="stepData.stepByStepConfig"></div>
