<div class="panel panel-default">
    <div class="panel-heading text-center"><b>Etap 4 - Pełne dopasowanie algorytmem Smitha-Watermana dla najlepszych
        znalezionych sekwencji</b></div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="well" ng-show="stepData.currentStep > 0">
                    <div ng-show="stepData.currentStep === 1">
                        <p><b>Krok 1: {{stepData.stepByStepConfig[1].description}}</b></p>

                        <p>
                            W tym dla każdej pzekazanej sekwencji tworzona jest pełna macierz dla algorytmu Smitha-Watermana, zgodnie ze standardowym podejściem do wykonywania tego algorytmu.
                            Do tworzenia wykorzystane zostały zdefiniowane na etapie konfiguracji: macierz substytucji oraz kara za przerwę.
                        </p>
                        <p>
                            Macierz ta została zaprezentowana na stronie w formie tabeli, poniżej na stronie.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 2">
                        <p><b>Krok 2: {{stepData.stepByStepConfig[2].description}}</b></p>

                        <p>
                            W tym kroku kontynuowany jest algorytm Smitha-Watermana. Zaznaczone zostały najlepsze ścieżki (dopasowania) na macierzy.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 3">
                        <p><b>Krok 3: {{stepData.stepByStepConfig[3].description}}</b></p>

                        <p>
                            W tym kroku wszystkie zaznaczone dopasowania zostały zaprezentowane w innej, tekstowej formie, uwzględniając wstawienia oraz usunięcia.
                        </p>
                        <p>
                           Lista tych dopasowań znajduje się nad omawianą wcześniej macierzą.
                        </p>
                    </div>
                    <div ng-show="stepData.currentStep === 4">
                        <p><b>Krok 4: {{stepData.stepByStepConfig[4].description}}</b></p>

                        <p>
                            W tym kroku, który jest ostatnim krokiem algorytmu, wybrana została najlepiej dopasowana sekwencja.
                            Wybór został oparty o ocenę wynikającą z macierzy Smitha-Watermana. Wybrana zostałą sekwencja z najwyższą oceną.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="stepData.bestSequence">
            <div class="page-header">
                <h3>
                    Sekwencja z najlepszym znalezionym dopasowaniem:
                    <small>(Więcej szczegółów poniżej, w odpowiedniej sekcji dla tej sekwencji)</small>
                </h3>
            </div>
             <h2 class="text-center list-group-item list-group-item-success">{{stepData.bestSequence}}</h2>
        </div>

        <div ng-show="stepData.smithWatermanMatrices">

            <div fasta-sequences-tabs sequences="stepData.baseSequences" change-sequence="changeSequence(index)"></div>

            <h4 class="text-center"><b>Sekwencja Szukana: </b><span
                    id="querySequence-p"> {{::stepData.querySequence}} </span></h4>
            <h4 class="text-center"><b>Aktualna Sekwencja </b>
                <span ng-bind=stepData.currentBaseSequence id="baseSequence-p"></span>
            </h4>

            <div ng-show="stepData.alignments">
                <div class="page-header">
                    <h3>
                        Znalezione Dopasowania:<small> (pierwsza - sekwencja z bazy danych, druga - sekwencja szukana)</small>
                    </h3>
                </div>
                <div ng-repeat="(alignmentIndex, alignment) in stepData.alignments[stepData.currentBaseSequence]">
                    <table class="found-alignments" align="center">
                        <tbody>
                        <tr>
                            <td ng-repeat="(symbolIndex, symbol) in alignment.baseAlignment track by $index"
                                ng-class="{'alignment-highlight' : isPartOfAlignment(alignmentIndex, symbolIndex)}">
                                {{symbol}}
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="(symbolIndex, symbol)  in alignment.queryAlignment track by $index"
                                ng-class="{'alignment-highlight' : isPartOfAlignment(alignmentIndex, symbolIndex)}">
                                {{symbol}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page-header">
                <h3>
                    Macierz dla Algorytmu Smitha-Watermana:
                </h3>
            </div>
            <div fasta-smith-waterman-table></div>
        </div>
    </div>
</div>

<div fasta-navigation-footer previous-url="/third_stage" last-step="stepData.lastStep"
     save-step="saveLastStep(lastStep)" config="stepData.stepByStepConfig" current-step="stepData.currentStep"></div>
