<div class="panel panel-default">
    <div class="panel-heading">
        Konfiguracja
    </div>
    <form class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Szukana sekwencja:</label>

            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="configData.querySequence" name="querySequence-input"
                       fasta-sequence-validator/>
            </div>
        </div>

        <div class="form-group">
                <label class="col-md-2 control-label">Sekwencje w bazie danych:</label>
            <div class="col-md-5">
                <div class="input-group" ng-repeat="baseSequence in configData.baseSequences">
                    <span class="input-group-btn">
                      <a class="btn btn-danger" ng-click="removeBaseSequence($index)">
                          <span class="glyphicon glyphicon-trash"></span>
                      </a>
                  </span>
                    <input type="text" class="form-control" disabled ng-model="baseSequence" name="baseSequence-input-{{$index}}"
                           fasta-sequence-validator/>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : configData.emptyNewSequence === true}">
            <label class="col-md-2 control-label">Dodaj sekwencję:</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-btn">
                      <a class="btn btn-success" ng-click="addBaseSequence()">
                          <span class="glyphicon glyphicon-ok"></span>
                      </a>
                  </span>
                    <input type="text" class="form-control" ng-model="configData.newSequence" name="newSequence-input"
                           fasta-sequence-validator />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">ktup:</label>

            <div class="col-md-5">
                <input type="number" class="form-control" ng-model="configData.kTup" min="2" max="6" name="ktup-input"
                       fasta-sequence-validator/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Kara za przerwę:</label>

            <div class="col-md-5">
                <input type="number" class="form-control" ng-model="configData.gapPenalty" name="gapPenalty-input"
                       fasta-sequence-validator/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Macierz Substytucji:</label>
            <div class="col-md-5">
            <table id="scoring-matrix">
                <thead>
                <tr class="success">
                    <th></th>
                    <th ng-repeat="(symbol, values) in configData.scoreMatrix track by $index">{{symbol}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(symbol, values) in configData.scoreMatrix track by $index">
                    <td class="col-md-1"> <label>{{symbol}}</label> </td>
                    <td class="" ng-repeat="(key, scoreValue) in values track by $index" data-container="body">
                        <input type="number" class="form-control text-center" ng-model="configData.scoreMatrix[symbol][key]">
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </form>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
        <a ng-click="save()" class="btn btn-primary" href="#/first_stage">Pierwszy etap</a>
        </div>
    </div>
</div>
