body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.panel{
    margin: 10px;
}

.panel-title {
    font-weight: bold;
}

.overflow-auto {
    overflow-y: auto;
}

.steps-footer {
    background-color: #e7e7e7;
    border-top: solid 1px #ccc;
    padding: 5px;
}

.page-header {
    border-top: 1px solid #eee;
    margin-top: 10px;
    text-align: center;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.fasta-list-table > tbody > tr > td, .fasta-list-table > thead > tr > th{
    padding: 2px !important;
    cursor: pointer;
}

.found-alignments {
    font-family: monospace;
    font-size: xx-large;
}

/* TABLE */

.scroll-table {
    overflow-x: auto;
}

td, th{
    text-align:center;
    vertical-align:middle;
}

/* HIGHLIGHT */


.highlight-on-hover:hover{
    color: #DDD;
    cursor: pointer;
}

.highlight{
    font-weight: bold;
    color: #FF0000;
}

.diagonal-highlight{
    background-color: #FFFCD7;
}

.highlight-on-click{
    background-color: #bca7d2;
}

.highlight-on-click-text{
    font-weight: bold;
}

.highlight-sw {
    background-color: #bca7d2;
}

.alignment-highlight {
    color: red;
    font-weight: bold;
}

/* DIAGONALS */

.diagonal-link  {
    color: inherit;
    text-decoration: none;
}

.diagonal-link:hover {
    color: inherit;
    text-decoration: none;
}

/* CONFIG */

.config-sequence-list[disabled] {
    box-shadow: none !important;
    background-color: white !important;
    cursor: default !important;
}

/* CHOSEN SEQUENCES */

.chosen-sequences-group {
    margin-bottom: 0 !important;
    text-align: center;
}

.chosen-sequence {
    font-weight: bold;
    text-align: center;
}

/* SEQUENCES TABS */

.sequences-tabs {
    overflow: auto;
}