body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.panel{
    margin: 10px;
}

.container-overflow{
    overflow: auto;
}

.steps-footer {
    background-color: #e7e7e7;
    border-top: solid 1px #ccc;
    padding: 5px;
}

/* TABLE */

.scroll-table {
    overflow-x: auto;
}

td, th{
    text-align:center;
    vertical-align:middle;
}

/* HIGHLIGHT */

.highlight-on-hover:hover{
    color: #DDD;
    cursor: pointer;
}

.highlight{
    font-weight: bold;
    color: #FF0000;
}

.diagonal-highlight{
    background-color: #FFFCD7;
}
