<!--<nav class="navbar navbar-default navbar-bottom">-->
<!--<div class="container col-md-12">-->
<!--<a class="btn btn-danger pull-left" href="{{previousUrl}}">Previous Stage</a>-->
<!--<a class="btn btn-primary pull-right" href="{{nextUrl}}">Next Stage</a>-->
<!--</div>-->
<!--</nav>-->

<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-danger" href="{{previousUrl}}">Previous Stage</a>
        <a class="btn btn-primary pull-right" href="{{nextUrl}}">Next Stage</a>
    </div>;
</div>