<table id="diagonals-table" class="table table-bordered table-condensed overflow-auto">
    <thead>
    <tr class="success">
        <th> # </th>
        <th ng-repeat="value in stepData.querySequence track by $index">{{value}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key,value) in stepData.currentBaseSequence track by $index">
        <td class="success"><b> {{value}} </b></td>
        <td ng-repeat="(key2,value2) in stepData.querySequence track by $index" name="{{key}}_{{key2}}" data-container="body"></td>
    </tr>
    </tbody>
</table>