<div>
    <label>Lista<span ng-if="stepData.foundBestStep"> 10 najlepszych</span> znalezionych Ciągów Diagonalnych:</label>
    <span>(kliknij na ciąg, aby go podświetlić w tabeli)</span>

    <p>Base Sequence: <span id="baseSequence-p">{{::stepData.baseSequence}}</span></p>

    <p>Query Sequence: <span id="querySequence-p"> {{::stepData.querySequence}}</span></p>
    <ul>
        <li ng-repeat="diagonal in stepData.currentDiagonals" class="highlight-on-hover" fasta-highlight
            highlight-paragraphs-list="::[{paragraphId: 'baseSequence-p', content: stepData.baseSequence,
                     startIndex: diagonal.startPoint[0], length: (diagonal.endPoint[0] - diagonal.startPoint[0]) + 1},
                     {paragraphId: 'querySequence-p', content: stepData.querySequence, startIndex: diagonal.startPoint[1], length: (diagonal.endPoint[1] - diagonal.startPoint[1]) + 1}]">
            <a class="diagonal-link" ng-click="highlightOnDiagonalsTable(diagonal)" ng-class="{'highlight-on-click-text' : (stepData.selectedDiagonal == diagonal)}">
                Base Sequence: [{{::diagonal.startPoint[0]}}, {{::diagonal.endPoint[0]}}] -
                {{::stepData.baseSequence | limitTo : (diagonal.endPoint[0] - diagonal.startPoint[0]) + 1 :
                diagonal.startPoint[0]}},
                Query Sequence: [{{::diagonal.startPoint[1]}}, {{::diagonal.endPoint[1]}}] -
                {{::stepData.querySequence | limitTo : (diagonal.endPoint[1] - diagonal.startPoint[1]) + 1 :
                diagonal.startPoint[1]}}<span ng-show="diagonal.score !== undefined">, Diagonal Score: {{diagonal.score}}</span>
            </a>
        </li>
    </ul>
</div>

<div class="container-overflow">
    <div fasta-diagonals-table></div>
</div>