<div class="panel panel-default">
    <div class="panel-heading text-center"><b>Etap 1: Inicjalizacja - wyliczenie Tablic Indeksujących oraz znalezienie
        Gorących Miejsc</b></div>
    <div class="panel-body">
        <div class="container-overflow">

            <div fasta-sequences-at-stage sequences="::stepData.baseSequences"></div>

            <div ng-show="stepData.bestSequences">
                Sekwencje wybrane do następnego etapu na podstawie liczby gorących miejsc:
                <ul>
                    <li ng-repeat="sequence in stepData.bestSequences">{{sequence}}</li>
                </ul>
            </div>

            <!-- WANTED SEQUENCE -->
            <div ng-show="stepData.querySequenceIndices">
                <label>Sekwencja Szukana - Tablica Indeksująca:</label>

                <p>Sekwencja Szukana: <span id="querySequence-p"> {{::stepData.querySequence}} </span></p>

                <div class="scroll-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="info">
                            <th ng-repeat="(key,value) in stepData.querySequenceIndices">{{::key}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="value in stepData.querySequenceIndices">
                                <p class="highlight-on-hover"
                                   fasta-highlight highlight-paragraphs-list="[{paragraphId: 'querySequence-p',
                                    content: stepData.querySequence, startIndex: element, length: stepData.kTup}]"
                                   ng-repeat="element in value">
                                    {{element}}
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- WANTED SEQUENCE -->

            <!-- BASE SEQUENCE -->
            <div ng-if="stepData.baseSequencesIndices">
                <label>Sekwencje z bazy danych:</label>

                <div fasta-sequences-tabs sequences="stepData.baseSequences"
                     change-sequence="changeSequence(index)"></div>

                <label>Tablica Indeksująca:</label>
                <p>Sekwencja: <span ng-bind=stepData.currentBaseSequence id="baseSequence-p"></span></p>

                <div class="scroll-table">
                    <table class="table table-bordered ">
                        <thead>
                        <tr class="success">
                            <th ng-repeat="(key,value) in stepData.baseSequencesIndices[stepData.currentBaseSequence]">
                                {{::key}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="value in stepData.baseSequencesIndices[stepData.currentBaseSequence]">
                                <p class="highlight-on-hover"
                                   fasta-highlight highlight-paragraphs-list="[{paragraphId: 'baseSequence-p',
                                    content: stepData.currentBaseSequence, startIndex: element, length: stepData.kTup}]"
                                   ng-repeat="element in value">
                                    {{::element}}
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- BASE SEQUENCE -->


            <!-- HOT SPOTS -->
            <div ng-show="stepData.hotSpots">
                <label>Gorące Miejsca:</label>

                <div class="scroll-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="warning">
                            <th ng-repeat="(key,value) in stepData.hotSpots[stepData.currentBaseSequence]">{{::key}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="value in stepData.hotSpots[stepData.currentBaseSequence]">
                                <p ng-repeat="element in value">{{::element.difference}}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- HOT SPOTS -->
        </div>
    </div>

    <div fasta-navigation-footer previous-url="/config" next-url="/second_stage" last-step="stepData.lastStep"
         save-step="saveLastStep(lastStep)" config="stepData.stepByStepConfig"></div>
