<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid" id="top-menu">
        <div class="collapse navbar-collapse navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/home">FASTA Demo App</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{active : menuSelected('/config')}"><a href="#/config">Konfiguracja</a></li>
                <li ng-class="{active : menuSelected('/first_stage')}"><a href="#/first_stage" >Etap 1</a></li>
                <li ng-class="{active : menuSelected('/second_stage')}"><a href="#/second_stage" >Etap 2</a></li>
                <li ng-class="{active : menuSelected('/third_stage')}"><a href="#/third_stage" >Etap 3</a></li>
                <li ng-class="{active : menuSelected('/fourth_stage')}"><a href="#/fourth_stage" >Etap 4</a></li>
            </ul>
        </div>
    </div>
</nav>